.information-table-container { 
    width: 95%;
    margin: 0 auto;
    min-height: 1800px;
    border: 0.5px solid rgb(135, 143, 135);
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 20px 5px;
    font-size: smaller;
    
}